@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oren: var(--font-orbitron)

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css or Tailwind config */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-orbitron), Arial, Helvetica, sans-serif;
}
/* Custom outlined text */
@layer utilities {
  .stroke-purple-500 {
    -webkit-text-stroke: 2px #a35ae7;
  }
  .stroke-2 {
    -webkit-text-stroke-width: 2px;
  }
}